.register-bg{
    background-image: url('../assets/backgrounds/register-bg.jpg');
    background-size: cover;
    background-position: center;
}

.card-reg{
    max-width: 800px;
    border-radius: 10px;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.1); /* Semi-transparent black background */
    color: white; /* Ensure text is visible on the transparent background */
    backdrop-filter: blur(2px); /* Optional: Adds a blur effect to the background */
    padding: 20px;
}