.res-bg{
    background-image: url('../assets/backgrounds/watercolor-paper-texture.jpg');
    background-size: cover;
    background-position: center;
}

/* .table-head {
    background-color: #283334;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
  }

  .table-row {
    background-color: #ffffff;
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
  }

  tr{
    border-radius: 3px;
    padding: 25px 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  } */